* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #e4e4e4;
}
/* Navbar Section Style */

/* Style Poition, color dll navbar */
span.navbar__title {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  top: 5px;
  color: black;
}

li.nav-item a.nav-link {
  font-family: "Rubik", sans-serif;
  padding-left: 7px;
  font-size: 16px;
  color: #4f5665;
}
li.nav-item.active a.nav-link {
  color: #6a4029;
  font-weight: 700;
}
button.button__logoSearching {
  outline: none !important;
  border: none;
  background: none;
}

.searching__logo {
  width: 1.8em;
  object-fit: contain;
}
.chat__Logo {
  width: 1.7em;
  object-fit: contain;
  position: relative;
  z-index: -1;
  top: 3px;
}
span.supply__Product {
  background-color: #6a4029;
  color: white;
  width: 25px;
  border-radius: 25px;
  object-fit: contain;
  border: 1px solid;
  position: absolute;
  bottom: 19.5px;
  font-size: 10px;
  right: 19px;
  text-align: center;
  padding: 3px 4px 3.1px 4px;
}

.costumer__Logo {
  width: 2em;
  object-fit: contain;
}

/* Header Product Detail */

img.product__pictureDetail {
  width: 270px;
  object-fit: contain;
  margin-left: 75px;
}

a.breadcrumb__listItem {
  color: #4f5665;
  font-family: "Rubik", sans-serif;
}

a.breadcrumb__listItem.active {
  color: #6a4029;
  font-weight: 700;
  font-family: "Rubik", sans-serif;
}
section.delivery__content {
  background: #ffffff;
  box-shadow: 0px 30px 60px rgba(57, 57, 57, 0.1);
  border-radius: 20px;
}
h2.tittle_delivTime {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

button.option__delivCatagory {
  height: 40px;
  font-family: "Poppins", sans-serif;
  padding: 5px 10px;
  background: #f4f4f8;
  border: 1px solid rgba(186, 186, 186, 0.35);
  text-align: center;
  border: none;
  margin-right: 10px;
  outline: none !important;
  border-radius: 10px;
  color: #9f9f9f;
  font-size: 20px;
}
button.option__delivCatagory.active {
  color: #fff;
  background: #6a4029;
  font-weight: 700;
  box-shadow: 0px 6px 20px rgba(137, 85, 55, 0.4);
}

button.option__deliv {
  height: 40px;
  font-family: "Poppins", sans-serif;
  padding: 5px 20px;
  background: #f4f4f8;
  border: 1px solid rgba(186, 186, 186, 0.35);
  text-align: center;
  border: none;
  margin-right: 10px;
  outline: none !important;
  border-radius: 10px;
  color: #9f9f9f;
  font-size: 20px;
}

button.option__deliv.active {
  color: #fff;
  box-shadow: 0px 6px 20px rgba(137, 85, 55, 0.4);
  background: #6a4029;
  font-weight: 700;
}

label.col-form-label {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}
input.form-control {
  background: #f4f4f8;
  height: 50px !important;
  font-family: "Poppins", sans-serif;
  border: 1px solid rgba(186, 186, 186, 0.35);
}

/* Hover Product Details */
a.breadcrumb__listItem:hover {
  text-decoration: none;
  color: #4f5665;
}
button.option__delivCatagory:hover {
  background: #fa8034;
  color: #fff;
}
button.option__delivCatagory.active:hover {
  color: #fff;
  background: #6a4029;
  font-weight: 700;
}

button.option__deliv:hover {
  background: #fa8034;
  color: #fff;
}
button.option__deliv.active:hover {
  color: #fff;
  background: #6a4029;
  font-weight: 700;
}

/* Media Query Header Product Details */

@media (max-width: 576px) {
  img.product__pictureDetail {
    width: 270px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  button.option__delivCatagory {
    margin-top: 10px;
  }
}

/* Product Details Component */

h1.titleProduct__details {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-size: 65px;
  text-align: center;
}
p.descProduct__details {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
}
p.descDelivery__product {
  font-family: "Poppins", sans-serif;
  font-size: 23px;
  padding-right: 190px;
}
p.descDelivery__product strong {
  color: #6a4029;
}
.inputProduct__range {
  border: 1px solid rgb(189, 187, 187);
  height: 50px;
  border-radius: 5px;
}
button.minbtn {
  background: none;
  outline: none !important;
  width: 45px;
  border: none;
}
input.inputbtn {
  width: 50px;
  font-family: "Poppins", sans-serif;
  outline: none !important;
  color: #6a4029;
  font-size: 23px;
  padding-top: 4px;
  height: 50px;
  font-weight: 700;
  border: 1px solid rgb(189, 187, 187);

  text-align: center;
}
button.plusbtn {
  background: none;
  border: none;
  outline: none !important;
  width: 45px;
}
h2.priceTag__Product {
  font-size: 33px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}

button.btn__toCartnStaf {
  height: 70px;
  width: 100%;
  margin-left: 5%;
  outline: none !important;
  border-radius: 20px;
  font-size: 22px;
  border: none;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
}
button.btn__toCartnStaf:nth-child(1) {
  background-color: #6a4029;
  color: white;
}
button.btn__toCartnStaf:nth-child(2) {
  background: #ffba33;
  color: #6a4029;
}

div.catagory__sizeProduct {
  background: #ffffff;
  box-shadow: 0px 70px 50px rgba(57, 57, 57, 0.1);
  border-radius: 20px;
}

h2.title__chooseSize {
  font-size: 30px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}
div.choose_sizeDrink a {
  padding-right: 18px;
  display: inline-block;
  margin-left: 20px;
  margin-right: auto;
}
div.detail_checkoutProduct {
  z-index: 1;
  background: #ffffff;
  box-shadow: 0px 70px 50px rgba(57, 57, 57, 0.1);
  border-radius: 20px;
}

img.detail_imageProd {
  width: 120px;
  object-fit: contain;
}

h2.title_drinkCheck {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 23px;
}
div.list__details {
  position: relative;
  top: 15px;
}
ul.list-unstyled li {
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

h2.checkOut__name {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 25px;
}

img.arrow__icons {
  width: 60px;
  object-fit: contain;
}
/* Hover Detail Component */
button.btn__toCartnStaf:nth-child(1):hover {
  background-color: #8d3d12;
  color: white;
}
button.btn__toCartnStaf:nth-child(2):hover {
  background: #fda900;
  color: #6a4029;
}

/* Media Query Detail Component */
@media (max-width: 1024px) {
  p.descDelivery__product {
    padding-right: 50px;
  }
  div.choose_sizeDrink a {
    padding-right: 14px;
    margin-left: 7px;
  }
  img.detail_imageProd {
    width: 85px;
  }
  h2.checkOut__name {
    font-size: 20px;
  }
  h2.title_drinkCheck {
    font-size: 19px;
  }
  ul.list-unstyled li {
    font-size: 14px;
  }
  div.list__details {
    top: 5px;
  }
  img.arrow__icons {
    width: 50px;
  }
}
@media (max-width: 576px) {
  h1.titleProduct__details {
    font-size: 45px;
  }
  p.descProduct__details {
    font-size: 23px;
    text-align: justify;
  }
  p.descDelivery__product {
    padding-right: 0;
  }
  div.choose_sizeDrink a {
    padding-right: 20px;
    margin-left: 20px;
  }
  h2.priceTag__Product {
    font-size: 43px;
  }
  button.minbtn {
    width: 70px;
  }
  input.inputbtn {
    width: 70px;
  }
  button.plusbtn {
    width: 70px;
  }
  button.btn__toCartnStaf {
    margin-left: 0;
  }
  h2.checkOut__name {
    font-size: 35px;
    margin-top: 10px;
  }
  img.arrow__icons {
    width: 80px;
  }
  img.detail_imageProd {
    width: 150px;
  }
}
@media (max-width: 375px) {
  div.choose_sizeDrink a {
    padding-right: 10px;
    margin-left: 21px;
  }
}

@media (max-width: 360px) {
  div.choose_sizeDrink a {
    padding-right: 10px;
    margin-left: 16px;
  }
  p.descProduct__details {
    font-size: 25px;
  }
}

/* Footer Section Component */
div.footer__displayDetails {
  position: relative;
}
footer.section-footer {
  top: -110px;
  z-index: -1;
  width: 100%;
  height: 370px;
  position: absolute;
}
div.footer__details {
  position: relative;
  top: 120px;
}
span.title_logoFooter {
  font-size: 20px;
  font-weight: 700;
  margin-left: 10px;
  font-family: "Rubik", sans-serif;
}
p.desc__footer {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
  width: 330px;
}
.logo_media a img {
  padding-right: 10px;
}
p.bywhat {
  color: #afb5c0;
  font-size: 16px;
}
.title_productFooter {
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 18px;
}
.list-unstyled li {
  padding-bottom: 10px;
}
.list-unstyled li a {
  color: #000;
  text-decoration: none;
}

/* Footer Hover Style */
.list-unstyled li a:hover {
  color: rgb(114, 108, 108);
  text-decoration: none;
}

/* Media Query Footer */
@media (max-width: 576px) {
 
  footer.section-footer {
    position: static;
  }
  div.footer__details {
    position: static;
  }
}
@media (max-width: 360px) {
  p.desc__footer {
    width: 300px;
  }
}
